/ConsoleMenu.class
/MainRun.class
/ScannerSearcher.class
/ShapeSpawnerV2.class
/Shapes.class
/makeShape.class
/makeShapeQuadrilateral.class
/makeShapeRectangleV1.class
/makeShapeRectangleV2.class
/makeShapeRhombus.class
/makeShapeTriangle.class
/WarningBack.class
